POSTGRES_DB=jewelleryscheme
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_PORT=5439

APP_ENV=production
APP_DEBUG=false
APP_URL=http://localhost:8000
APP_KEY=
LOG_CHANNEL=stack
LOG_LEVEL=info
SESSION_DRIVER=database
CACHE_STORE=database
QUEUE_CONNECTION=database
BACKEND_PORT=8000

FRONTEND_PORT=3000
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:8000/api
API_URL=http://backend/api
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=change-this-secret
NEXTAUTH_BASEPATH=/api/auth
BASEPATH=
NEXT_PUBLIC_DOCS_URL=https://demos.pixinvent.com/materialize-nextjs-admin-template/documentation
MAPBOX_ACCESS_TOKEN=
