# External DB Setup
DB_CONNECTION=pgsql
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

APP_ENV=production
APP_DEBUG=false
APP_URL=http://localhost:8080
APP_KEY=
LOG_CHANNEL=stack
LOG_LEVEL=info
SESSION_DRIVER=database
CACHE_STORE=database
QUEUE_CONNECTION=database
BACKEND_PORT=8000

FRONTEND_PORT=3000
NEXT_PUBLIC_APP_URL=http://localhost:8080
NEXT_PUBLIC_API_URL=http://localhost:8080/api
API_URL=http://nginx/api
NEXTAUTH_URL=http://localhost:8080
NEXTAUTH_SECRET=change-this-secret
NEXTAUTH_BASEPATH=/api/auth
BASEPATH=
NEXT_PUBLIC_DOCS_URL=https://demos.pixinvent.com/materialize-nextjs-admin-template/documentation
MAPBOX_ACCESS_TOKEN=
HTTP_PORT=9080

